[submodule "mount/etc/shellfire/paths.d"]
	path = mount/etc/shellfire/paths.d
	url = https://github.com/shellfire-dev/paths.d
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "mount/lib/shellfire/core"]
	path = mount/lib/shellfire/core
	url = https://github.com/shellfire-dev/core.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "mount/lib/shellfire/cpucount"]
	path = mount/lib/shellfire/cpucount
	url = https://github.com/shellfire-dev/cpucount.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "tools/reproducible"]
	path = tools/reproducible
	url = https://github.com/libertine-linux/reproducible.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
