# This file is part of libertine. It is subject to the licence terms in the COPYRIGHT file found in the top-level directory of this distribution and at https://raw.githubusercontent.com/libertine-linux/libertine/master/COPYRIGHT. No part of libertine, including this file, may be copied, modified, propagated, or distributed except according to the terms contained in the COPYRIGHT file.
# Copyright © 2016 The developers of libertine. See the COPYRIGHT file in the top-level directory of this distribution and at https://raw.githubusercontent.com/libertine-linux/libertine/master/COPYRIGHT.


# Value of ForceCommand in sshd_config
libertine_openssh_server_ForceCommand='none'

# Space separated values for ListenAddress in sshd_config
libertine_openssh_server_ListenAddresses=''

# Space separated values for Port in sshd_config; can be empty if their are values with :port in ListenAddresses
libertine_openssh_server_ListenPorts='22'

# Set to 0 to disable shell logins
libertine_openssh_server_MaxSessions='10'

# Sets values of MaxStartups in sshd_config
libertine_openssh_server_MaxStartups='10:30:100'

# Set to yes to support hostname-based MATCH syntax
libertine_openssh_server_useDNS='no'
