# This file is part of libertine. It is subject to the licence terms in the COPYRIGHT file found in the top-level directory of this distribution and at https://raw.githubusercontent.com/libertine-linux/libertine/master/COPYRIGHT. No part of libertine, including this file, may be copied, modified, propagated, or distributed except according to the terms contained in the COPYRIGHT file.
# Copyright © 2016 The developers of libertine. See the COPYRIGHT file in the top-level directory of this distribution and at https://raw.githubusercontent.com/libertine-linux/libertine/master/COPYRIGHT.


# Equivalent to the opposite --disable-root-sudo; see packages/sudo/source/INSTALL, ie
# we disable root using sudo
libertine_sudo_enableRootSudo='false'

# Equivalent to --with-badpri; see packages/sudo/source/INSTALL
libertine_sudo_logFailuresPriority='alert'

# Equivalent to --with-goodpri; see packages/sudo/source/INSTALL
libertine_sudo_logSuccessesPriority='info'

# Equivalent to --with-password-timeout; see packages/sudo/source/INSTALL; use 0 for never
libertine_sudo_passwordTimeoutMinutes='1'

# Equivalent to --with-passwd-tries (sic); see packages/sudo/source/INSTALL
libertine_sudo_passwordTries='3'

# Equivalent to --with-timeout; see packages/sudo/source/INSTALL; use 0 to always prompt
libertine_sudo_timoutMinutes='0'

# Equivalent to --with-umask; see packages/sudo/source/INSTALL
libertine_sudo_umask='0022'
