# This file is part of libertine. It is subject to the licence terms in the COPYRIGHT file found in the top-level directory of this distribution and at https://raw.githubusercontent.com/libertine-linux/libertine/master/COPYRIGHT. No part of libertine, including this file, may be copied, modified, propagated, or distributed except according to the terms contained in the COPYRIGHT file.
# Copyright © 2016 The developers of libertine. See the COPYRIGHT file in the top-level directory of this distribution and at https://raw.githubusercontent.com/libertine-linux/libertine/master/COPYRIGHT.


# Any value specified here is post-pended after values specified by packages (eg by the package audit_userspace_auditctl)
linux_postpendToBuiltInCommandLine='vga=6'

# This prevents QEMU, syslinux, etc overriding the command line used to boot the kernel. Use with care.
linux_forceUseOfBuiltInCommandLine='false'

# Machine domainname (machine's hostname is the name of the folder, in this case 'example')
linux_domain='localdomain'

linux_resolvConf_nameservers='8.8.4.4 8.8.8.8 2001:4860:4860::8844 2001:4860:4860::8888'
